absl-py==1.4.0
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.2.0
aiosqlite==0.20.0
alabaster==0.7.12
alembic==1.13.1
altair==5.1.2
anaconda-client==1.9.0
anaconda-navigator==2.1.1
anaconda-project==0.10.1
annotated-types==0.5.0
anyio==3.7.1
appdirs==1.4.4
applaunchservices==0.2.1
applescript==2021.2.9
appnope==0.1.2
appscript==1.1.2
argh==0.26.2
argon2-cffi==20.1.0
arrow==0.13.1
ascii-magic==2.3.0
asgiref==3.8.1
asn1crypto==1.4.0
astroid==2.6.6
astropy==4.3.1
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.4.0
Authlib==1.3.1
autograd==1.6.2
Automat==20.2.0
autopep8==1.5.7
autoray==0.6.12
azure-core==1.30.1
azure-identity==1.16.0
azure-quantum==2.0.1
azure-storage-blob==12.20.0
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bardapi==0.1.38
base58==2.1.1
bcrypt==3.2.0
beautifulsoup4==4.12.2
bidict==0.23.1
binaryornot==0.4.4
bitarray==1.2.2
bkcharts==0.2
black==19.10b0
bleach==4.0.0
blinker==1.6.3
blis==0.7.11
bokeh==2.4.1
boto==2.49.0
boto3==1.26.76
botocore==1.29.76
bottle==0.12.19
Bottleneck==1.3.2
brotlipy==0.7.0
browser-cookie3==0.19.1
bs4==0.0.1
cached-property==1.5.2
cachetools==5.3.1
capstone==5.0.1
catalogue==2.0.10
certifi==2024.6.2
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
cirq==1.3.0
cirq-aqt==1.3.0
cirq-core==1.3.0
cirq-ft==1.3.0
cirq-google==1.3.0
cirq-ionq==1.3.0
cirq-pasqal==1.3.0
cirq-rigetti==1.3.0
cirq-web==1.3.0
click==8.1.7
cloudpathlib==0.15.1
cloudpickle==2.0.0
clyent==1.2.2
cmudict==1.0.13
colorama==0.4.4
colorcet==3.0.1
colored-traceback==0.3.0
comm==0.1.4
conda==22.9.0
conda-build==3.26.1
conda-content-trust==0+unknown
conda_index==0.3.0
conda-pack==0.6.0
conda-package-handling==1.7.3
conda_package_streaming==0.9.0
conda-repo-cli==1.0.4
conda-token==0.3.0
conda-verify==3.4.2
confection==0.1.3
constantly==15.1.0
contextlib2==0.6.0.post1
cookiecutter==1.7.3
crypto==1.4.1
cryptography==3.4.8
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.8
Cython==0.29.24
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.10.0
databases==0.9.0
dataclasses-json==0.6.1
datalib==0.0.0
datashader==0.15.2
datashape==0.5.4
debugpy==1.6.7
decorator==5.1.0
deep-translator==1.11.4
defusedxml==0.7.1
Deprecated==1.2.14
diff-match-patch==20200713
dill==0.3.7
dimod==0.12.14
diskcache==5.6.3
distlib==0.3.4
distributed==2021.10.0
dnspython==2.4.2
docplex==2.27.239
docutils==0.17.1
dsinternals==1.2.4
duet==0.2.9
dwave-cloud-client==0.11.4
dwave-greedy==0.3.0
dwave-hybrid==0.6.11
dwave-inspector==0.5.0
dwave-neal==0.6.0
dwave-networkx==0.8.14
dwave-ocean-sdk==6.10.0
dwave-preprocessing==0.6.5
dwave-samplers==1.2.0
dwave-system==1.24.0
dwave-tabu==0.5.0
dwavebinarycsp==0.3.0
ecdsa==0.19.0
en-core-web-sm==3.7.0
entrypoints==0.3
et-xmlfile==1.1.0
eth-abi==2.1.1
eth-account==0.5.7
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
eventlet==0.36.1
exceptiongroup==1.1.3
executing==0.8.3
fastapi==0.103.2
fastcache==1.1.0
fastdtw==0.3.4
fasteners==0.19
ffmpy==0.3.1
fica==0.3.1
filelock==3.3.1
flake8==3.9.2
Flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.1
Flask-Login==0.6.3
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
flatbuffers==23.5.26
fonttools==4.25.0
frozendict==2.3.8
frozenlist==1.3.0
fsspec==2023.9.2
future==0.18.2
gast==0.4.0
gensim==3.8.3
gevent==21.8.0
gevent-websocket==0.10.1
gitdb==4.0.10
GitPython==3.1.37
glob2==0.7
gmpy2==2.0.8
google-api-core==2.12.0
google-auth==2.23.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.3
google-cloud-translate==3.12.0
google-pasta==0.2.0
googleapis-common-protos==1.61.0
googlesearch-python==1.2.3
gpt-index==0.8.41
gradio==3.47.1
gradio_client==0.6.0
graphviz==0.20.1
greenlet==1.1.1
grpcio==1.59.0
grpcio-status==1.59.0
gunicorn==22.0.0
h11==0.13.0
h2==4.1.0
h5py==3.2.1
HeapDict==1.0.1
hexbytes==0.2.2
holoviews==1.17.1
homebase==1.0.1
hpack==4.0.0
html5lib==1.1
httpcore==0.16.3
httpx==0.23.3
huggingface-hub==0.17.3
hvplot==0.8.4
hypercorn==0.14.4
hyperframe==6.0.1
hyperlink==21.0.0
ibm-cloud-sdk-core==3.18.0
ibm-platform-services==0.48.0
idna==3.2
imagecodecs==2021.8.26
imageio==2.9.0
imagesize==1.2.0
impacket==0.11.0
importlib-metadata==5.2.0
importlib-resources==5.13.0
incremental==21.3.0
inflection==0.5.1
iniconfig==1.1.1
install==1.3.5
intake==0.6.8
intervaltree==3.1.0
ipfshttpclient==0.8.0a2
ipykernel==6.25.0
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
iso8601==1.1.0
isodate==0.6.1
isort==5.9.3
itemadapter==0.3.0
itemloaders==1.0.4
itsdangerous==2.1.2
jdcal==1.4.1
jedi==0.18.0
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.4.2
json5==0.9.6
jsonpatch==1.33
jsonpointer==2.4
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter_core==5.4.0
jupyter-server==1.4.1
jupyterlab==3.2.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.0
jupytext==1.15.0
keras==2.13.1
keyring==23.1.0
kiwisolver==1.3.1
langchain==0.0.310
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.0.43
lark==0.11.3
lazy-object-proxy==1.6.0
ldap3==2.9.1
ldapdomaindump==0.9.4
libarchive-c==2.9
libclang==16.0.6
llvmlite==0.41.0
locket==0.2.1
lru-dict==1.1.7
lxml==4.9.3
lz4==4.3.2
Mako==1.3.5
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.20.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
mccabe==0.6.1
mdit-py-plugins==0.4.0
mdurl==0.1.2
mibian==0.1.3
minorminer==0.2.13
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mock==4.0.3
more-itertools==8.10.0
mpmath==1.2.1
msal==1.28.0
msal-extensions==1.1.0
msgpack==1.0.2
msrest==0.7.1
multiaddr==0.0.9
multidict==6.0.2
multipledispatch==0.6.0
multitasking==0.0.11
munkres==1.1.4
murmurhash==1.0.10
mypy-extensions==0.4.3
mysql-connector-python==8.1.0
Naked==0.1.32
Nasdaq-Data-Link==1.0.4
navigator-updater==0.2.1
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.8
netaddr==0.8.0
networkx==2.6.3
ngrok==1.3.0
nltk==3.6.5
nose==1.3.7
notebook==6.4.5
numba==0.58.0
numexpr==2.7.3
numpy==1.22.4
numpydoc==1.1.0
oauthlib==3.2.2
olefile==0.46
openai==0.27.4
openpyxl==3.0.9
opt-einsum==3.3.0
orjson==3.10.3
otter-grader==4.4.1
outcome==1.1.0
packaging==23.1
pandas==1.3.4
pandas-stubs==1.5.3.230203
pandas-ta==0.3.14b0
pandocfilters==1.4.3
panel==0.14.3
param==1.13.0
paramiko==3.4.0
parsel==1.6.0
parsimonious==0.8.1
parso==0.8.2
partd==1.2.0
path==16.0.0
pathlib2==2.3.6
pathspec==0.7.0
pathy==0.10.2
patsy==0.5.2
pbr==6.0.0
pdfreader==0.1.12
penaltymodel==1.1.0
PennyLane==0.36.0
PennyLane-Lightning==0.36.0
PennyLane-qiskit==0.36.0
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pika==1.2.0
Pillow==8.4.0
pip==23.2.1
pipenv==2022.3.28
pkginfo==1.7.1
platformdirs==3.10.0
plotly==5.9.0
plucky==0.4.3
pluggy==0.13.1
plumbum==1.8.3
ply==3.11
portalocker==2.8.2
poyo==0.5.0
preshed==3.0.9
priority==2.0.0
prometheus-client==0.11.0
prompt-toolkit==3.0.20
pronouncing==0.2.0
Protego==0.1.16
proto-plus==1.22.3
protobuf==4.21.12
psmpy==0.3.13
psutil==5.8.0
ptyprocess==0.7.0
PuLP==2.7.0
pure-eval==0.2.2
pwn==1.0
pwnlib==8.6.8.6
pwntools==4.12.0
py==1.10.0
py-lets-be-rational==1.0.1
py-vollib==1.0.1
pyarrow==13.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.12.0
pycodestyle==2.7.0
pycosat==0.6.3
pycparser==2.20
pycryptodome==3.14.0
pycryptodomex==3.19.0
pyct==0.5.0
pycurl==7.44.1
pydantic==1.10.15
pydantic_core==2.6.1
pydeck==0.8.1b0
PyDispatcher==2.0.5
pydocstyle==6.1.1
pydub==0.25.1
pyelftools==0.31
pyerfa==2.0.0
pyflakes==2.3.1
Pygments==2.15.1
PyJWT==2.8.0
pylatexenc==2.10
pylint==2.9.6
pyls-spyder==0.4.0
pymongo==4.5.0
Pympler==1.0.1
PyNaCl==1.5.0
pyodbc==4.0.0-unsupported
pyOpenSSL==21.0.0
pyparsing==3.0.4
pyPdf==1.13
PyPDF2==1.26.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt6==6.5.2
PyQt6-Qt6==6.5.2
PyQt6-sip==13.5.2
PyQt6-WebEngine==6.5.0
PyQt6-WebEngine-Qt6==6.5.3
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyquil==3.5.4
pyrsistent==0.18.0
pyserial==3.5
PySide6==6.5.2
PySide6-Addons==6.5.2
PySide6-Essentials==6.5.2
PySocks==1.7.1
pyspnego==0.11.0
pytesseract==0.3.10
pytest==6.2.4
python-dateutil==2.8.2
python-engineio==4.9.1
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-markdown-math==0.8
python-multipart==0.0.6
python-nmap==0.7.1
python-on-whales==0.64.2
python-rapidjson==1.17
python-slugify==5.0.2
python-snappy==0.6.0
python-socketio==5.11.2
pytz==2023.3
pyviz-comms==2.3.0
PyWavelets==1.1.1
PyYAML==6.0
pyzmq==23.2.0
qcs-api-client==0.21.6
QDarkStyle==3.0.2
qiskit==1.1.0
qiskit-aer==0.14.2
qiskit-algorithms==0.3.0
qiskit-finance==0.4.1
qiskit-ibm-provider==0.11.0
qiskit-ibm-runtime==0.24.0
qiskit-machine-learning==0.7.2
qiskit-optimization==0.6.1
qiskit-utils==1.2.1
qsharp==1.5.0
qstylizer==0.1.10
QtAwesome==1.0.2
qtconsole==5.1.1
QtPy==1.10.0
QuantLib==1.32
QuantLib-Python==1.18
Quart==0.19.3
quart-cors==0.7.0
queuelib==1.5.0
rectangle-packer==2.0.2
regex==2023.10.3
requests==2.32.3
requests-file==1.5.1
requests_ntlm==1.3.0
requests-oauthlib==1.3.1
retry==0.9.2
retrying==1.3.4
rfc3339==6.2
rfc3986==1.5.0
rich==13.6.0
rlp==2.0.1
rope==0.19.0
ROPGadget==7.4
rpcq==3.11.0
rpyc==6.0.0
rsa==4.9
Rtree==0.9.7
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
ruamel-yaml-conda==0.15.100
rustworkx==0.14.2
s3transfer==0.6.0
scapy==2.5.0
scikit-image==0.18.3
scikit-learn==1.2.2
scikit-learn-intelex==2021.20210714.100439
scipy==1.7.1
Scrapy==2.6.1
seaborn==0.11.2
selenium==3.141.0
semantic-version==2.10.0
semver==3.0.2
Send2Trash==1.8.0
sentry-sdk==2.5.1
serpapi==0.1.4
service-identity==18.1.0
setuptools==58.0.4
shellescape==3.8.1
shiboken6==6.5.2
simple-websocket==1.0.0
simplegeneric==0.8.1
simplejson==3.19.2
singledispatch==3.7.0
sip==4.19.13
six==1.16.0
smart-open==5.2.1
smmap==5.0.1
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
soupsieve==2.2.1
spacy==3.7.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
spyder==5.1.5
spyder-kernels==2.1.3
SQLAlchemy==2.0.21
srsly==2.4.8
stack-data==0.2.0
starlette==0.27.0
statsmodels==0.12.2
stevedore==5.2.0
streamlit==1.12.0
symengine==0.11.0
sympy==1.9
tables==3.6.1
tabulate==0.8.10
TBB==0.2
tblib==1.7.0
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
terminado==0.9.4
testpath==0.5.0
text-unidecode==1.3
textdistance==4.2.1
Theano==1.0.5
thinc==8.2.1
threadpoolctl==2.2.0
three-merge==0.1.1
tifffile==2021.7.2
tika==1.24
tiktoken==0.5.1
tinycss==0.4
tldextract==3.2.0
toml==0.10.2
tomli==2.0.1
toolz==0.11.1
torch==2.2.2
tornado==6.3.3
tqdm==4.62.3
traitlets==5.11.2
trio==0.19.0
trio-websocket==0.9.2
Twisted==22.10.0
typed-ast==1.4.3
typer==0.9.0
types-Deprecated==1.2.9.20240311
types-python-dateutil==2.9.0.20240316
types-pytz==2022.4.0.0
types-retry==0.9.9.4
typing_extensions==4.11.0
typing-inspect==0.9.0
tzlocal==5.1
ujson==4.0.2
unicodecsv==0.14.1
unicorn==2.0.1.post1
Unidecode==1.2.0
unix-ar==0.2.1
urllib3==1.26.18
uvicorn==0.23.2
validators==0.22.0
varint==1.0.2
virtualenv==20.13.0
virtualenv-clone==0.5.7
w3lib==1.21.0
wasabi==1.1.2
watchdog==4.0.1
wbgapi==1.0.12
wcwidth==0.2.5
weasel==0.3.2
web3==5.27.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.0
wheel==0.37.0
whichcraft==0.6.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wsproto==1.0.0
wurlitzer==2.1.1
xarray==2022.11.0
xlrd==2.0.1
XlsxWriter==3.0.1
xlwings==0.24.9
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.31.0
yarl==1.7.2
yfinance==0.2.22
zict==2.0.0
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
zstandard==0.19.0
